h1{
    color: red;
    font-family: 'halloween';

}

@font-face {
    font-family: 'halloween';
    src: url('font/CFHalloween-Regular.ttf');
}
@font-face {
    font-family: 'halloween2';
    src: url('font/shloprg.otf');
}

.container{
    margin-top: -40px !important;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;


}
.mb-container{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-width: 100vw;
    min-height: 100vh;
      
}
.switch-qr{  
    width: 40px;
    opacity: 0;
    transition: opacity 0.2s linear !important;
}

.switch-qr:hover{
    opacity: 1;
}

.mb-input-img--css{
    display: none !important;
}
.mb-label-img{
   display: block;
    text-align: center;
    padding: 0 10px;
    font-size: 40px;
    position: relative;
    font-family: 'halloween2';
}
.mb-pumbkin-text{
    position: absolute;
    left: calc(50% - 70px);
    top:100px;
    color: #4a006d;
}
.mb-overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 44, 44, 0.632);
    display: none;
    overflow: scroll;

}
.spinwheel-overlay-body2{
    font-family: 'halloween2';
    background-color: white;
    width: 500px;
    margin: 260px auto 0;
    height: 350px;
    border-radius: 16px;
    text-align: center;
    padding-top: 30px;
    display: none;
}
.spinwheel-overlay-text{
    font-size: 30px;
    color: rgb(46, 46, 46);
}
.spinwheel-overlay-header{
    color: #ffdb0d;
}
.spinwheel-overlay-img{
    max-width: 300px;
    max-height: 180px;
}
.spinwheel-overlay-body{
    display: none;

    font-family: 'halloween2';
    background-color: white;
    width: 400px;
    margin: 260px auto 0;
    height: 200px;
    border-radius: 16px;
    text-align: center;
    padding-top: 30px;
}
.moew{
    width: 240px;
    position: relative;
    top: -50px;
}
.spinwheel-overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(44, 44, 44, 0.632);
    overflow: scroll;
    display: none;
}
.mb-overlay-body{
    border-radius: 10px;
    margin: 40px auto 0;
    background-color: white;
    width: calc(100% - 20px);
    font-family: 'halloween2';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    transition: height 0.4s ease-in;
    overflow: hidden;
}
.mb-img-container{
    width: 100%;
    max-height: 460x;
    object-fit: contain;
}
.mb-sm-img{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.mb-sm-img--denied{
    background-color: rgb(150, 150, 150);
}
.mb-sm-img--acceppt{
    background-color:#e6c405;

}
.mb-sm-img-all{
    cursor: pointer;
    border-radius: 14px;
    padding: 6px 12px;

}
.mb-overlay-body-wrap{
    display: none   ;
}
.screem-shoot{
}
.block-spin-wheel{
    display: none;
    width: 650px;
    height: 650px;
    z-index: 1000;
    position: absolute;
    background-color: transparent;
    top: 100px;
    left: calc(50% - 325px);
}
#redirect-spin-wheel{
    display: none;
}
.dt-img-usr--landmark{
    margin-top: auto;
    position: absolute;
  top: 0;
}
.mb-overlay-2{
    background-color: rgba(44, 44, 44, 0.632);
    z-index: 3;
    position: fixed;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    display: none;
    
}
.mb-loading-img{
    width: calc(100% - 40px) ;
    margin: 80px 20px 0;
}
.mb-text-wait{
    font-family: 'halloween';
    color: white;
    position: absolute;
    top:320px;
    font-size: 20px;
    left: calc(50% - 99px);
}
.dt-upper-layout1{display: none;}
.mb-text-notice{
    margin-top: 5px;
    display: block;
    position: relative;
    font-family: 'halloween2'; 
    color: rgb(0, 255, 13);
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    left: calc((100% - 312px)/2);
    display: none;
}
.mb-btn-again{
    border: none;
    background-color: #e6c405;
    border-radius: 4px;
    width:72px;

    position: absolute;
    right: 20px;
    display: none;
    font-family: 'halloween2';
}
.dt-upper-layout{
    overflow: scroll0;
    position: fixed;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    background-color: rgba(44, 44, 44, 0.632);
}
.dt-upper-layou-body{
    display: flex;
    padding: 30px;
    background-color: white;
    min-width:1000px;
    width: 100px;
    min-height: 700px;
    margin: 60px auto;
    border-radius: 10px;
    position: relative;
}
.dt-btn-close{
    position: absolute;
    right: 8px;
    top: 8px;
}
.toast{
    z-index: 10;
    position: absolute;
    left: calc(50% - 200px);
    top: 100px;
    
}
.dt-img-usr{
    display: block;
    max-width: 400px;
    max-height: 365px;
}
.img-landmark-wrap{
    position: relative;
}
.dt-img-usr + .dt-img-usr{
    margin-top: 20px;
}
.dt-text-wrap{
    margin-left:20px;
}
.dt-text{
    font-family: 'halloween2';

    display: block;
    font-size: 32px;
}
.dt-img-usr-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dt-header-text{
    font-size: 40px;

    font-family: 'halloween';
}

  svg {
    min-width: 300px;
    
  }
  #screem-shoot{
    display: none;
  }
  #button-trigger {
    cursor: pointer;
  }
  #chart-wrap{
    position:relative;
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    left:0;
    
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
    display: none;
}
#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}
.halloween-arrow{
    width: 150px;
    position: absolute;
    left: calc(50% + 323px);
    top: 371px;

}
.spin-wheel-wrap{
    position: absolute;
    left: calc(50% - 300px );
    top: 100px;
}
.circle-pumpkin{
    z-index: 10;
    position: absolute;
    width: 120px;
    left: calc(50% - 55px);
    top:376px
}
.question{
    display: none;
}
.hand{
    opacity: 1 !important;
}
.takeagift{
    position: relative;
    top: 80px;
}